includes:
  - phar://phpstan.phar/conf/bleedingEdge.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
  level: max
  scanFiles:
    - resources/stubs/advapi32.stub.php
    - resources/stubs/dwmapi.stub.php
    - resources/stubs/saucer.stub.php
  strictRules:
    allRules: true
  fileExtensions:
    - php
  paths:
    - src
  excludePaths:
    - src/Kernel/Saucer/LibSaucer.php
    - src/Kernel/Win32/AdvancedBaseApi/LibAdvapi32.php
    - src/Kernel/Win32/DesktopWindowManager/LibDwmApi.php
  tmpDir: vendor/.cache.phpstan
  reportUnmatchedIgnoredErrors: true
