includes:
  - phpstan-baseline.neon
  - phar://phpstan.phar/conf/bleedingEdge.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
  level: max
  scanFiles:
    - resources/stubs/saucer.stub.php
  strictRules:
    allRules: true
  fileExtensions:
    - php
  paths:
    - src
  excludePaths:
    - src/Internal/Saucer/LibSaucer.php
  tmpDir: vendor/.cache.phpstan
  reportUnmatchedIgnoredErrors: true
